<div class="jumbotron">
  <h3>The blog for students who want to make a difference</h3>
  <p>How many times did you hear or try to convince yourself that now is not the right time to start-up your own company?</p>
  <p>In this blog you will find posts covering the main aspects of each business, tips and resources for being successful.</p>
</div>

<h2 class="page-header">Latest posts</h2>

<% @posts.each do |post| %>
<div class="post box">
        <h1><%= post.title %></h1>
        <h6><%= post.created_at.strftime("%d %b. %Y") %></h6>
        <p><%= post.content[0,300] %> ...</p>
        <div class="read-more">  
        <%= link_to 'Read More', post %>
        </div>
</div>
<% end %>





