<% @posts.each do |post| %>
<div class="post box">
        <h1><%= post.title %></h1>
        <h6><%= post.created_at.strftime("%d %b. %Y") %></h6>
        <p><%= post.content[0,300] %> ...</p>
        <div class="read-more">  
        <%= link_to 'Read More', post %>
        </div>
</div>
<% end %>





