<p id="notice"><%= notice %></p>
<div class="box-post">
	<section>
		<header>
			<h2><%= @post.title %></h2>
			<h6>Written by <%= @post.name %></h6>
		</header>
		<p>
			<%= @post.content %>
		</p>

	</section>
	
</div>



