// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-default-bg: #000;
$navbar-border-radius: 0;
$navbar-default-link-hover-color:#f39c12;
$navbar-default-link-color:#fff;
$navbar-default-brand-hover-color:#fff;
// JUMBOTRON
$jumbotron-bg:#fff;
$btn-primary-bg:#f39c12;

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@import "bootstrap-sprockets";
@import "bootstrap";



// STICKY FOOTER

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 85px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #000;
  color:#fff;
  font-weight:300;
  font-family: 'Raleway', sans-serif;
}

.footer a {
	text-decoration:none;
}

.footer a img {
	padding:10px;
}


// SIDEBAR

#mc_embed_signup {
	margin-top:10px;
}

#mc_embed_signup h2 {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
}

input.button {
	width:200px;
}

.box section header {
	background:#f39c12;
	color:#000;
}

.box section header h3 {
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
	padding:10px 10px;
	text-align:center;	
}

.box section ul li {
	padding:5px 0;
	text-align:center;
	list-style:none;
}




// NAVBAR

.navbar a {
	text-decoration: none;
	color:#FB8E61;	
}

.navbar-brand {
	font-family: 'Raleway', sans-serif;
}



// POST


.box {
	background:#fff;
	margin-right:10px;
	box-shadow:5px 5px 5px #EBEBEB;
}

.post {
	padding:20px 30px;
	border-bottom:1px solid #EBEBEB;
	margin-bottom:10px;
}

#main {
	background:#EFF0F0;
}

.read-more {
	background:#f39c12;
	width:100px;
	height:30px;
	text-align:center;
	padding:3px;
	box-shadow:1px 1px 1px #EFF0F0;
}

.read-more a {
	font-family: 'Montserrat', sans-serif;
	text-decoration:none;
	color:#000;
	font-size:14px;
}

.read-more a:hover {
	background:#f39c12;
	color:#000;
}

.post p {
	font-weight:300;
	font-size:14px;
	line-height:2em;
}

.post h6 {
	margin-bottom:15px;
}

.post h1 {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
	font-size:24px;
}

.post h6, .post p {
	font-family: 'Roboto', sans-serif;
	font-size:16px;

}

.post h6 {
	font-size:16px;
	color:#AAAAAA;
}

footer {
	position:relative;
	bottom:0px;
	width:100%;
	height:60px;
	background:#000;
}

.box-post {
	background:#fff;
	padding:20px 30px;
}

.box-post p {
	font-size:16px;
	line-height:2em;
}
